    <!-- Modal for Loading Data -->
    <div class="modal show d-block" id="loader" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered loader-modal" role="document">
  
            <div class="modal-content text-center">
                <img class="mb-1 " src="assets/images/loader.gif" alt="loader">
                <p class="mt-1">Loading data...</p>
            </div>
  
        </div>
    </div>
    <!-- Modal for Loading Data Ends -->
    <div class="modal-backdrop show"></div>