.space-header {
    font-size: xx-large;
    padding-left: 1.5rem;
}

/* Desktop View CSS */
@media (min-width: 1025px) {
    .side-bar {
        min-width: 17%;
        width: 17%;
        padding:0 15px 0 15px;
    }
    .main-content {
        padding: 0 15px 0 15px;
    }
}

/* Tablet View CSS */
@media (min-width: 700px) and (max-width: 1024px) {
    .side-bar {
        min-width: 25%;
        width: 25%;
        padding-right:15px;
    }
}