<div class="bg-light p-2 filters-content">
    <h4>Filters</h4>
    <div class="text-center">
        <p class="border-bottom">Launch Year</p>
        <app-radio [radioArray]="availableYears" (onFilterChange)="onRadioChange($event)"></app-radio>
        <p class="border-bottom">Successful Launch</p>
        <app-radio [radioArray]="successfulLaunches" (onFilterChange)="onRadioChange($event)"></app-radio>
        <p class="border-bottom">Successful Landing</p>
        <app-radio [radioArray]="successfulLandings" (onFilterChange)="onRadioChange($event)"></app-radio>
    </div>
</div>