<div class="bg-white padding-5 filters-content">
    <span class="filter-header">Filters</span>
    <div class="text-center">
        <p class="grey-bottom">Launch Year</p>
        <app-radio [radioArray]="availableYears" (filterChange)="radioChange($event)"></app-radio>
        <p class="grey-bottom">Successful Launch</p>
        <app-radio [radioArray]="successfulLaunches" (filterChange)="radioChange($event)"></app-radio>
        <p class="grey-bottom">Successful Landing</p>
        <app-radio [radioArray]="successfulLandings" (filterChange)="radioChange($event)"></app-radio>
    </div>
</div>